# Origin image files.
datas/image_net_origin_files/*/*.jpg

# Ptb data files.
RNN/RNN_ptb_model/simple-examples/*

# Tensorboard files.
*events.out.tfevents*

# Model saver files.
*checkpoint
*.ckpt*

# Data files.
*.tfRecords
*.npy

# Estimators model saver.
model_saver/estimators
